.position-relative {
  position: relative;
}


.align-to-parent {
  position: absolute;
  top: 0;
  left: 0;
}

#SpanHL{
  color: rgba(0, 0, 0, 0);
}

#SpanHL hl {
  pointer-events: auto;
  background-color: gray;
}

#SpanHL .hl-green hl {
  background-color: green;
}

#SpanHL .hl-red hl {
  background-color: red;
}

#SpanHL .hl-blue hl {
  background-color: blue;
}

#SpanHL .hl-purple hl {
  background-color: purple;
}

#SpanHL .hl-aqua hl {
  background-color: aqua;
}

#SpanHL .hl-orange hl {
  background-color: orange;
}

#SpanHL .hl-cadetblue hl {
  background-color: cadetblue;
}

#SpanHL .hl-hover hl:hover {
  opacity: 1;
  /* color: red; */
  background-color:rgba(255, 255, 153, 0.5);
  border: gray solid 1px;
}

.op-10 hl{
  opacity: 0.5;
}

.op-9 hl{
  opacity: 0.25;
}

.op-8 hl{
  opacity: 0.15;
}

.op-7 hl{
  opacity: 0.05;
}

.op-6 hl,
.op-5 hl,
.op-4 hl,
.op-3 hl,
.op-2 hl,
.op-1 hl{
  opacity: 0.025;
}